= @customer.full_name
br
= @customer.email
br
= @customer.mobile
br
= @customer.avatar
br
/= link_to 'Edit', edit_admin_service_provider_path(@service_provider)
br
= link_to 'Back', list_of_admin_customers_path