= @logistic.full_name
br
= @logistic.email
br
= @logistic.mobile
br
= @logistic.avatar
br
/= link_to 'Edit', edit_admin_service_provider_path(@service_provider)
br
= link_to 'Back', list_of_admin_logistics_path