= @logistic.full_name
br
= @logistic.email
br
= @logistic.mobile
br
= @logistic.avatar
br
= @amount

br
br
- @orders.each do |order|
  a href=admin_order_path(order)
    = "Customer: #{order.customer.full_name}" if !order.customer.nil?
    - if !order.logistic.nil?
      = "Service provider: #{order.service_provider.full_name}"
    = "Amount: #{order.total_cost}"
    = "Status: #{order.status_id}"

/= link_to 'Edit', edit_admin_service_provider_path(@service_provider)
br
= link_to 'Back', list_of_admin_logistics_path