= link_to 'Edit Profile', edit_user_registration_path
br
= link_to 'Signout', destroy_user_session_path, method: :delete
br
= link_to 'List of Customers', list_of_admin_customers_path
br
= link_to 'List of Service Providers', list_of_admin_service_providers_path
br
= link_to 'List of Logistics', list_of_admin_logistics_path
br
= link_to 'List of Service Types', list_of_admin_service_types_path
br
= link_to 'List of Items', list_of_admin_items_path
br
= link_to 'Assign service provider', assign_service_provider_admin_orders_path
br
= link_to 'Assign logistic', assign_logistic_admin_orders_path