h1
	= 'boom'
= link_to "Edit Profile", edit_user_registration_path(current_user)
= link_to "Signout", destroy_user_session_path, method: :delete
= link_to "List of Customers", customers_path
= link_to "List of Categories", categories_path
