.login-form, .signup-form, .forgot-password-new-form{
    width: 350px !important;
    margin-right: auto;
    margin-left: auto;
    height: 350px !important;
    background-color: #fff !important;
    margin-top: 100px !important;
    text-align: center !important;
}

.m-v-20{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.p-t-20{
    padding-top: 20px !important;
}

.m-l-minus-150{
    margin-left: -150px !important;
}

.login-gap{
    margin: 20px 0 !important;
    padding-top: 40px !important;
}

.header-width{
    width: 1170px !important;
}

.w-1170{
    width: 1170px !important;
}

.white-bg{
    background-color: #ffffff !important;
}

.m-l-0{
    margin-left: 0px !important;
}