.login-form, .signup-form, .forgot-password-new-form{
    width: 350px !important;
    margin-right: auto;
    margin-left: auto;
    height: 350px !important;
    background-color: #fff !important;
    margin-top: 100px !important;
    text-align: center !important;
}

.m-v-20{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.m-t-20{
    margin-top: 20px !important;
}

.m-t-25{
    margin-top: 25px !important;
}

.m-t-60{
    margin-top: 60px !important;
}

.p-t-20{
    padding-top: 20px !important;
}

.m-l-minus-150{
    margin-left: -150px !important;
}

.login-gap{
    margin: 20px 0 !important;
    padding-top: 40px !important;
}

.header-width{
    width: 1170px !important;
}

.w-1170{
    width: 1170px !important;
}

.white-bg{
    background-color: #ffffff !important;
}

.m-l-0{
    margin-left: 0px !important;
}


.m-l-40{
    margin-left: 40px !important;
}

.order_box{
    border: 2px solid #ddd !important;
    margin: 5px !important;
}

.side-nav-margin{
    margin-left: -15px !important;
    margin-right: 15px !important;
}


.player-div {
    min-height: 80px;
    background-color : white !important;
    padding : 5px !important;
    border : 1px solid #000;
    border-radius : 5px;
    margin-bottom: 10px !important;
}


.p-h-40 {
    padding-left: 40px !important;
    padding-right : 40px !important;
}
.order-detail{
}

#yield_height{
    margin-bottom: 10vh !important;
}

.dataTable{
    border: 1px solid #111;
    /*padding: 5px !important;*/
}

td, th{
    border: 1px solid #111;
}

input{
    height: 30px !important;
}

.container-fluid{
    padding: 0px !important;
}